._2QXs44xItEbVR5ehP-of1k {
  color: blue; }
  ._2QXs44xItEbVR5ehP-of1k._2K37Yf2MxCIgSbKKsGDhDf {
    background-color: white; }

._3ThmktFbmoZanbtkijKnTu {
  color: red; }
body {
  background-color: cornsilk; }

  h1 {
    color: darkslategray;
  }
